[defaults]
inventory = ./inventory.ini
remote_user = ekotukov
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
private_key_file = ~/.ssh/id_ed25519

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False